.first-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width:500px;
    font-weight: bold;
    text-align:left;
    line-height: 40px;
    margin-bottom: 0;
}
.second {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px; 
    color: grey;
    margin-top: 10px;
    margin-bottom:0px;

}
.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: grey;
    margin-top: 20px;

}
.description {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
    color: rgb(99, 99, 99);
    width: 450px;
    text-align:justify;
    margin-bottom: 70px;
}
.apple {
    margin-bottom: 50px;
    font-size: 21px;
    background-color: rgb(197, 64, 62);
    text-align: center;
    color: white;
    padding-block: 20px;
    transition: text-decoration .35s;
    
    
}
.shop{
    color: white;
    text-decoration: unset;
}
.shop:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(184, 183, 183);
}
.apple-logo {
    height: 35px;
    width: 30px;
}