p {
    font-family: Roboto, Arial;
    margin-bottom: 0;
    margin-top: 0;
}

.thumbnail {
    width: 300px;
    display: block;
}
.search {
    font: 20px;
    margin-left: 20px;
    border-radius: 2px;
    border-style: solid;
    display: block;
}
.video-title {
    font-size: 17px;
    font-weight: 700;
    display: inline-block;
    margin-top: 15px;
    line-height: 18px;

}

.video-author {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(53, 53, 53);
    
}
.video-stat {
    margin-top: 6px;
    font-size: 13px;  
    color: rgb(53, 53, 53);
    
}
.video-preview {
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}
.channel-profile {
    display: inline;
    width: 45px;
    border-radius: 40px;
    vertical-align: top;
    margin-top: 15px;
}
.profile{
    display: inline;
}
.info {
    display: inline-block;
    width:230px;
    margin-left: 10px;
}